<section>
    <div class="container-fluid">
        <div class="row header"> 
            <h1 class="col-4"> HOME </h1>
            <i class="fas fa-home fa-2x col-2 offset-4"></i>
            <i class="fas fa-power-off fa-2x col-2 "></i>
        </div>
    </div>  
    <div class="container-fluid content">
        <div class="row content1">
            <div class="col-5 box" >
            <h3>STORE IN</h3>
            <div class="pic mt-5">
            <img src="../../../assets/storein.png">
            </div>
            </div>
            <div class="col-5 box" (click)="load_statuscheck()">
            <h3>STORE STATUS</h3>
            <div class="pic mt-5">
            <img src="../../../assets/stockcount.png">
            </div>
            </div>
        </div> 
    </div>  
</section>